
/* footer */
footer {
  margin-top: 5rem;
  margin-bottom: 1rem;
  text-align: center;
  margin-right:10%;

}

footer .in-text-link,
footer p {
  position: relative;
  display: inline-block;
  width: fit-content;
  font-size: 0.7rem;
  margin: 0 auto;
  text-decoration: none;
  padding:0;
}

footer p {
  padding:0;
}


/* end of footer */
