
body{
  font-family: Helvetica;
  height:100vh;width:auto;

}
/* logo */
.logo {
  position: relative;
  display: block;
  top: 2.8rem;
  left: 4rem;
  width:3rem;
  height: 3rem;
  margin: 0;
  z-index: 10;
}
.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  margin: 0;
  font-size:1.4rem;
  font-weight: 800;
  text-decoration: none;
  background: pink;
  color: white;
}
.logo :before {
  content: '';
  position: absolute;
  border: pink dashed 2px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.logo :hover:before {
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
}

/* Styling for text input field */
.input-field-label {
  display: block;
  font-size: 0.875rem;
  font-weight: 800;
  margin-bottom: 0.25rem;
}

#text-input-field {
  display: block;
  font-size: 0.875rem;
  padding: 0.15rem;
  border: 1px solid;
  color: #899da3;
}

/*
TEXT ELEMENTS -------------------
*/
/* Styling for heading levels */
h1 {
  font-size: 2rem;
  color: pink;
  text-transform: uppercase;
  font-weight: 800;
  margin: 0;
}

h2 {
  font-size: 1.25rem;
  color: black;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
}

h3 {
  font-size: 1.15rem;
  color: black;
  font-weight: 100;
  font-style: italic;
}

h4 {
  font-size: 0.875rem;
  margin-bottom: 0;
}

/* Styling for bulleted lists */
p {
  font-size: 0.875rem;
}

/* Styling for lists */
ol,
ul {
  font-size: 0.875rem;
  list-style: square;
  -webkit-padding-start: 1.25rem;
}


/* Website grid */
.grid-wrapper {
display:flex;
flex-direction:row;
}
.nav-wrapper {
width:100%;
/* display:inline; */
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  letter-spacing: 1px;
  flex:0.7;
}
.work-container{
  flex:1.5;
  display:block;
  margin-top:4rem;
  margin-right: 0;
}
.project-box{
  display: flex;
  flex:1;

  display:inline-block;
  width: 100vh;
  height:150px;
  padding-right: 2rem;;
  background-color:white;
  border:2px solid pink;

  /* width: 30%; */
  float: left;
  border-width: 1rem;
  border-image: initial;
  /* margin: 0px 0px 30px 3.33333%; */
  /* padding: 10px; */
}
.project-box:hover{
  border-color: pink;
  border-style: dotted;

}

/* @media */
@media screen and (max-width: 1000px) {
  .work-container{
    flex:1;
    height:auto;
    margin-top: 1rem;
    margin-left: 5%;
    margin-right: 5%;
  }
  .project-box{
    width:90%;
  }
  .grid-wrapper {
  display:flex;
  flex-direction:column;
  }
}
@media screen and (max-width: 700px) {
  .work-container{
    /* flex:1; */
    height:auto;
    margin-top: 1rem;
    margin-left: 5%;
    margin-right: 5%;
  }
  .project-box{
    width:90%;
  }
  .grid-wrapper {
  display:flex;
  flex-direction:column;
  }
}
