/* mobile navigation */

/*  Styling for mobile nav button */
.mobile-nav {
  
  position: fixed;
  top: 2.8rem;
  left: 3.4rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0;
  background: transparent;
  -webkit-transition: top 0.3s ease, left 0.3s ease;
  -o-transition: top 0.3s ease, left 0.3s ease;
  transition: top 0.3s ease, left 0.3s ease;
  z-index: 9;
  visibility: hidden;
}
.mobile-nav.open {
  top: 2.8rem;
  left: 3.4rem;
}
  .mobile-nav.close {
    top: 0;
    left: 0;
  }
  .mobile-nav.toggle {
    left: 0;
    top: 0;
  }

  .mobile-nav span {
    width: 1.375rem;
    height: 0.1875rem;
    display: block;
    background: #EF6362;
    -webkit-transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
    -o-transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
    transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
    /* no rotation */
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 0 0.6rem 0.3rem;
  }

  .mobile-nav.toggle span {
    margin: 0 auto;
  }
  .mobile-nav.toggle span:first-of-type {
    /* rotate first one */
    -webkit-transform: rotate(45deg) translate(0.1875rem, 0.1875rem);
    -ms-transform: rotate(45deg) translate(0.1875rem, 0.1875rem);
    transform: rotate(45deg) translate(0.1875rem, 0.1875rem);
  }
  .mobile-nav.toggle span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
  }
  .mobile-nav.toggle span:last-of-type {
    /* rotate third one */
    -webkit-transform: rotate(-45deg) translate(0.0625rem, -0.0625rem);
    -ms-transform: rotate(-45deg) translate(0.0625rem, -0.0625rem);
    transform: rotate(-45deg) translate(0.0625rem, -0.0625rem);
  }


  @media (max-width: 768px) {
    .mobile-nav {
      visibility: visible;
      top: 0;
      left: 0;
    }
    .mobile-nav.toggle {
      top: 0;
      left: 15.5rem;
    }
  }
