/* <!-- Project three: Portfolio_styleguide | Fan-Hsuan(Sherry) Liao--> */


.navigation {
  width: 10rem;
  height: auto;

  position: relative;
  z-index: 1;
  background-color: pink;
  overflow-x: hidden;
  transition: 0.5s;
  text-align:center;
}

.navigation a {
  padding: 8px 8px 8px 12px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  padding-right: 1.5rem;
}

.navigation a:hover{
  color: red;
  padding-left: 38px;
text-decoration: underline;
}


main{
  margin-left:10%;
  margin-right:10%;
}
/* stylying for sample code */
code {
  background-color: white;
  padding: 0.25em 0.5em;
  line-height: 1.7em;
  font-size: 1.1em;
  color:lightpink;
}
a{
  min-width:110px;
  height:auto;
  max-width: 100%;
}

section {
  margin-bottom: 5em;
}


/* Styling for navigation buttons */
nav ul {
  margin: 0;
  padding:0;
  font-family: "Office Code Pro", monospace;

}

nav li {
  /* display: inline-block; */
  margin: 0;
  padding:0.4rem;

}

.button-nav {
  position: relative;
  letter-spacing: 0.0625rem;
  text-align: center;
  text-decoration: none;
  font-size: 0.75rem;
  color: pink;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  text-transform: uppercase;
}
.button-nav:hover {
  font-weight: 800;
}
.button-nav:hover:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -0.25rem;
  border-bottom: 2px dashed pink;
}
.button-nav.active:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -0.25rem;
  border-bottom: 2px dashed pink;
}




/* submit, reset, purchase buttons (add to chart)*/
.button-form-submit, .button-form-reset:focus, .button-purchase {
  /* white text in dark green background */
  border: 3px solid pink;
  background-color:pink;
  color: white;
  /* margin-top: 5em; */
  min-width: 10em;
  transition: border 0.3s ease-in-out,
  background-color 0.3s ease-in-out,
  color 0.3s ease-in-out;
}
/* ADD TO CHART button needs to be lower on product_listing page*/
.button-purchase {
  margin-top: 5em;
}

/* Clear interaction point response for submit, reset, purchase button*/
.button-form-submit:hover,.button-purchase:hover,.button-form-reset:focus,
.button-form-submit:active,.button-purchase:active {
  border: 3px solid pink;
  background-color:pink;
  color: white;
  /* margin-top: 5em; */
  min-width: 10em;
  transition: border 0.3s ease-in-out,
  background-color 0.3s ease-in-out,
  color 0.3s ease-in-out;
}
.button-form-reset{
  /* dark green */
  border: 3px solid pink;
  min-width: 10em;
  background-color: white;
  color:pink;
}
.button-form-reset:hover,.button-form-reset:active{
  /* fresh_green green */
  border: 3px solid pink;
  min-width: 10em;
  background-color: white;
  color: pink;
}
.button-form-submit:focus,.button-purchase:focus {
  /* white text in fresh green backgorund */
  border: 3px solid pink;
  background-color: white;
  min-width: 10em;
  /* darker green */
  color: pink;
  transition: 0.25s ease-in-out, background-colo 0.25s ease-in-out, color 0.25s ease-in-out;
}
.button-form-reset:focus{
  border: 3px solid pink;
  background-color: pink;
  min-width: 10em;
  /* darker green */
  color: white;
  transition: 0.25s ease-in-out, background-colo 0.25s ease-in-out, color 0.25s ease-in-out;
}

/* headings */
/* h1 in intro on the top of the page */
.intro-header{
  font-size: 2.4em;
  font-weight: 800;
  color: pink;
}
/* h1 style:Interactive elements, text elements,combined elements */
.section-header {
  margin-top: 3em;
  padding-top: 1em;
  border-top: 3px solid pink;

  /* dark green */
  color: pink;
  font-size:1.9em;
  font-weight:700;
  font-style: italic;
  text-decoration: underline;
}

/* h2 -
IN-TEXT LINK
NAVIGATION BUTTON
FORM SUBMIT & RESET BUTTONS
INPUT FIELDS WITH LABEL
HEADING LEVELS
PARAGRAPH STYLE
PRIMARY NAVIGATION
TASKS
FONTS
ART DIRECTION
SITE COLOUR PALETTE
*/


/* hashtag id to make a line between each small flexbox */
#navigation_button,#form_buttons,
#input_field,#radio_buttons,#images_as_a_link,
#paragraph,
#target_personas,#product_task,#font_choices,
#art_direction,#colour_palette{
  padding-top:1em;
  border-top: 1px solid grey;
}

/* div class for flex */
.flex {
  display: flex;
  flex-wrap: wrap;
}

/* div class for flex-half (rendered element and css selector + sample code) */
.flex-half {
  flex: 0 0 45%;
  margin-right: 5%;
}


/* Four types of headings */

TEXT ELEMENTS -------------------
*/
/* Styling for heading levels */
h1,.header-one {
  font-size: 2.3rem;
  color: #2a2a90;
  text-transform: uppercase;
  font-weight: 800;
  margin: 0; }

h2,.header-stylize,.header-two {

  font-size: 1.5rem;
  color: black;
  text-transform: uppercase;
  font-weight: 800;
  text-align: left; }

h3, .header-four {
  font-size: 1.15rem;
  color: black;
  font-weight: 100;
  font-style: italic;

}

h4, .header-four {
  font-size: 0.875rem;
  margin-bottom: 0;
  text-decoration:underline;
}
/* End of Four types of heading */

.header-product {
  font-family: Helvetica;
  font-size: 1.75em;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 0;
}

.header-product-sub {
  font-family: Helvetica;
  font-size: 1.15em;
  font-weight: 700;
  margin-top: 0.35em;
}


.product-image-flex-item {
  flex: 2 1 400px;
}

.product-text-flex-item {
  flex: 1 1 20em;
}

.product-listing flex{
  margin-top:1em;
  justify-content: center;
}

.product-listing img {
  height: auto;
  width: 100%;
}
#product_listing,#checkout_form{
  margin-top: 3em;
  padding-top: 1em;
  border-top: 3px solid #08302f;
}

.item-text{
  min-width:210px;
  max-width: 100%;

  border-top: 1.4em;
}
.text_input1{
  font-family: "Office Code Pro", monospace;
  font-size: 0.77em;
  letter-spacing: .02em;
  line-height: 1.75;
  font-weight: lighter;
}

.text_input1:hover{
  /* light green  */
  border: 3px solid #0e8044;
}

.text_input1:focus{
  /* light grey  */
  background-color: #f4ff81;
  border: 3px solid #0e8044;
}

.checkoutlist,.payformlist{
  background-color: #f2f2f2;
  padding: 10px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin-right:30px;
}

span.price {
  float: right;
  color: grey;
}

.message{
  max-width: 100%;
  min-width: 210px;
}

/* Combined Elements navigation */

/* company paragraph */
.paragraph-text{
  margin-top: 1rem;
  font-size: 0.85rem;
  font-family: 'Roboto', sans-serif;
}
/* images resize for images_as_a_link, FONTS */
#images_as_a_link img, #font_choices img,#art_direction img{
  max-width: 100%;
  min-width:200px;
}

/* imagelink */
.imagelink {
  filter:opacity(100%);
}
.imagelink:hover{
  filter:drop-shadow(8px 8px 10px gray);
  filter:opacity(35%);
}
.imagelink:focus{
  box-shadow: 0 0 10px #ccc;
}

/* color palette  */
.color-palette {
  width: 160px;
  height: 75px;
  font-size: 0.8em;
  padding: 0.5em;
  margin: 0.5em 0;
  display:inline-block;
}

/* colors in color palette */
.light_green {
  background-color: #b9f6ca;
}
.fresh_green{
  background-color: #85e582;
  /* color:white; */
}
.green{
  background-color: #0e8044;
  color:white;
}
.highlight_yellow{
  background-color: #f4ff81;
  /* color:white; */
}
.yellow{
  background-color: #eeff41;
  /* color:white; */
}

.citations{
  border-top:1px solid grey;
  margin-top: 1.3em;
  min-width:210px;
  height:auto;
  max-width: 100%;
}
.project-panel-wrapper .overlay {
  position: relative;
  top: 0;
  width: 100%;
  height:auto;
  /* before hover */
  background-color: #fcd2f3;
  opacity: 0.5;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  mix-blend-mode: multiply;
}
.project-panel-wrapper:hover .overlay {
  opacity: 0;
}
.project-panel-wrapper .pink-img-filter {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  background-color: white;
  opacity: 0.5;
  mix-blend-mode: lighten;
  -webkit-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.project-panel-wrapper:hover .pink-img-filter {
  background: black;
 }
.project-panel-wrapper, .img_effect{
   height:200px;
   width:auto;
 }
 .main-footer{
   text-align: center;
 }
