/* <!-- Project one: styleguide | Fan-Hsuan(Sherry) Liao--> */

* {
  box-sizing: border-box;
}
/* body grid by using margin */
body {
  font-family: "Office Code Pro", monospace;
  /* white space between two sides */
  margin-left: 15%;
  margin-right: 15%;
  /* light grey */
  /* background-color:#f5f5f5; */
  background-color:white;
  font-weight: lighter;
}

/* stylying for sample code */
code {
  /* highlight the code with background color */
  /* highligh green  */
  background-color: #b9f6ca;
  padding: 0.25em 0.5em;
  line-height: 1.7em;
  font-size: 1.1em;
  color:#08302f;

}
a{
  min-width:110px;
  height:auto;
  max-width: 100%;
}
/* paragraph */
p {
  font-family: "Office Code Pro", monospace;
  font-weight: normal;
  font-size: 0.9em;
  color:darkgrey;
}

section {
  margin-bottom: 5em;
}


/* Styling for navigation buttons */
nav ul {
  margin: 0;
  padding:0;
  font-family: "Office Code Pro", monospace;

}

nav li {
  display: inline-block;
  margin: 0;
  padding:0.4rem;

}

.button-nav {
  font-family: "Office Code Pro", monospace;
  font-weight: 700;
  font-size: 1em;
  min-width: 15em;
  padding: 0.5em 0.75em;
  display: inline-block;
  letter-spacing: 0.0625rem;
  position: relative;
  text-align: center;
  text-decoration: none;

  /* dark green */
  border: 3px solid #59f1b0;
  color: #59f1b0;
  background-color: white;
  transition: color 0.3s ease-in-out,
  border 0.3s ease-in-out;
}


/* Clear interaction point response for navigation button*/
.button-nav:hover, .button-nav:active{
  color: #85e582;
  /* light green */
  background-color: white;
  border: 3px solid #85e582;
  text-decoration: underline #85e582;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.button-nav:focus {
  color:white;
  /* light green */
  border: 3px solid #85e582;
  text-decoration: underline white;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
  background-color: #85e582;

}
/* interactive_elements */
/* default text input + label */
.text_input,.button-radio{
  transition:border 0.8s;
  /* dark green */
  border-color: #0e8044;
  font-family: "Office Code Pro", monospace;
  margin-top: 1em;
}

/* Clear interaction point response for text input when it is hovered or focused */
.text_input:hover,.button-radio:hover{
  /* light green  */
  border: 3px solid #0e8044;
}
.text_input:focus,.button-radio:focus{
  /* light grey  */
  background-color: #f4ff81;
  border: 3px solid #0e8044;
}


/* submit, reset, purchase buttons (add to chart)*/
.button-form-submit, .button-form-reset:focus, .button-purchase {
  /* white text in dark green background */
  border: 3px solid #0e8044;
  background-color:#0e8044;
  color: white;
  /* margin-top: 5em; */
  min-width: 10em;
  transition: border 0.3s ease-in-out,
  background-color 0.3s ease-in-out,
  color 0.3s ease-in-out;
}
/* ADD TO CHART button needs to be lower on product_listing page*/
.button-purchase {
  margin-top: 5em;
}

/* Clear interaction point response for submit, reset, purchase button*/
.button-form-submit:hover,.button-purchase:hover,.button-form-reset:focus,
.button-form-submit:active,.button-purchase:active {
  border: 3px solid #85e582;
  background-color:#85e582;
  color: white;
  /* margin-top: 5em; */
  min-width: 10em;
  transition: border 0.3s ease-in-out,
  background-color 0.3s ease-in-out,
  color 0.3s ease-in-out;
}
.button-form-reset{
  /* dark green */
  border: 3px solid #0e8044;
  min-width: 10em;
  background-color: white;
  color: #0e8044;
}
.button-form-reset:hover,.button-form-reset:active{
  /* fresh_green green */
  border: 3px solid #85e582;
  min-width: 10em;
  background-color: white;
  color: #85e582;
}
.button-form-submit:focus,.button-purchase:focus {
  /* white text in fresh green backgorund */
  border: 3px solid #85e582;
  background-color: white;
  min-width: 10em;
  /* darker green */
  color: #85e582;
  transition: 0.25s ease-in-out, background-colo 0.25s ease-in-out, color 0.25s ease-in-out;
}
.button-form-reset:focus{
  border: 3px solid #85e582;
  background-color: #85e582;
  min-width: 10em;
  /* darker green */
  color: white;
  transition: 0.25s ease-in-out, background-colo 0.25s ease-in-out, color 0.25s ease-in-out;
}

/* headings */
/* h1 in intro on the top of the page */
.intro-header{
  font-size: 2.4em;
  font-weight: 800;
  color: #85e582;
}
/* h1 style:Interactive elements, text elements,combined elements */
.section-header {
  margin-top: 3em;
  padding-top: 1em;
  border-top: 3px solid #08302f;

  /* dark green */
  color: #0e8044;
  font-size:1.9em;
  font-weight:700;
  font-style: italic;
  text-decoration: underline;
}

/* h2 -
IN-TEXT LINK
NAVIGATION BUTTON
FORM SUBMIT & RESET BUTTONS
INPUT FIELDS WITH LABEL
HEADING LEVELS
PARAGRAPH STYLE
NUMBERED LIST
PRIMARY NAVIGATION
TASKS
FONTS
ART DIRECTION
SITE COLOUR PALETTE
*/
.header-stylize {
  font-family: Helvetica;
  /* dark green */
  color: #59f1b0;
  font-size: 1.6em;
  font-weight: 600;
}

/* hashtag id to make a line between each small flexbox */
#navigation_button,#form_buttons,
#input_field,#radio_buttons,#images_as_a_link,
#paragraph,#numbered_list,#company,
#target_personas,#product_task,#font_choices,
#art_direction,#colour_palette{
  padding-top:1em;
  border-top: 1px solid grey;
}

/* div class for flex */
.flex {
  display: flex;
  flex-wrap: wrap;
}

/* div class for flex-half (rendered element and css selector + sample code) */
.flex-half {
  flex: 0 0 45%;
  margin-right: 5%;
}


/* Four types of headings */
.header-one {
  font-size: 2.4em;
  font-weight: 800;
  color: #85e582;
}

.header-two {
  color: #0e8044;
  font-size:1.9em;
  font-weight:700;
  font-style: italic;
  text-decoration: underline;
}

/* h3- heading of Rendered element + CSS Selector + Sample Code  */
/* and also one of the four levels of headings */
.header-three {
  font-family: Helvetica;
  font-size: 1.15em;
  font-weight: 700;
}
.header-four {
  font-family: Helvetica;
  font-size: 0.95em;
  font-weight: 700;
}

/* End of Four types of heading */

.header-product {
  font-family: Helvetica;
  font-size: 1.75em;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 0;
}

.header-product-sub {
  font-family: Helvetica;
  font-size: 1.15em;
  font-weight: 700;
  margin-top: 0.35em;
}


/* link */
.link-text {
  /* dark green */
  color:white;
  /* double lines */
  text-decoration-style:double;
}
/* Clear interaction response for link */
.link-text:hover, .link-text:active, .link-text::after {
  /* dark green */
  color:#0e8044;
  /* background-color: #b9f6ca; */
  background-color: #eeff41;
  padding-top:0.3rem;
  text-decoration-style:double;
}
/* Numbered lists */
.list-numbered li,.bulleted_list li {
  padding-bottom: 0.5em;
  font-size: 0.87em;
}
/* Clear interaction response for numbered list */
.list-numbered li:hover, .bulleted_list li:hover {
  cursor: crosshair;
  /* highlight green */
  background-color: #f4ff81;

}

.product-image-flex-item {
  flex: 2 1 400px;
}

.product-text-flex-item {
  flex: 1 1 20em;
}

.product-listing flex{
  margin-top:1em;
  justify-content: center;
}

.product-listing img {
  height: auto;
  width: 100%;
}
.moodboard_img{
  width:auto;
  min-width: 200px;
  max-height:440px;

}
.process_img{
  width:auto;
  min-width: 500px;
  max-height:440px;

}

#product_listing,#checkout_form{
  margin-top: 3em;
  padding-top: 1em;
  border-top: 3px solid #08302f;
}

.item-text{
  min-width:210px;
  max-width: 100%;

  border-top: 1.4em;
}
.text_input1{
  font-family: "Office Code Pro", monospace;
  font-size: 0.77em;
  letter-spacing: .02em;
  line-height: 1.75;
  font-weight: lighter;
}

.text_input1:hover{
  /* light green  */
  border: 3px solid #0e8044;
}

.text_input1:focus{
  /* light grey  */
  background-color: #f4ff81;
  border: 3px solid #0e8044;
}

.checkoutlist,.payformlist{
  background-color: #f2f2f2;
  padding: 10px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin-right:30px;
}

span.price {
  float: right;
  color: grey;
}

.message{
  max-width: 100%;
  min-width: 210px;
}

/* Combined Elements navigation */

/* company paragraph */
.paragraph-text{
  font-family: "Office Code Pro", monospace;
  font-size: 0.87em;
  letter-spacing: .02em;
  line-height: 1.75;
  font-weight: lighter;
  background-color: #f4ff81;
  margin-top:1em;
  border:0;
  background-color: white;
  margin-bottom:0.5em;
}
/* images resize for images_as_a_link, FONTS */
#images_as_a_link img, #font_choices img,#art_direction img{
  max-width: 100%;
  min-width:200px;
}

/* imagelink */
.imagelink {
  filter:opacity(100%);
}
.imagelink:hover{
  filter:drop-shadow(8px 8px 10px gray);
  filter:opacity(35%);
}
.imagelink:focus{
  box-shadow: 0 0 10px #ccc;
}

/* color palette  */
.color-palette {
  width: 160px;
  height: 75px;
  font-size: 0.8em;
  padding: 0.5em;
  margin: 0.5em 0;
  display:inline-block;
}

/* colors in color palette */
.light_green {
  background-color: #b9f6ca;
}
.fresh_green{
  background-color: #85e582;
  /* color:white; */
}
.green{
  background-color: #0e8044;
  color:white;
}
.highlight_yellow{
  background-color: #f4ff81;
  /* color:white; */
}
.yellow{
  background-color: #eeff41;
  /* color:white; */
}
.citations{
  border-top:1px solid grey;
  margin-top: 1.3em;
  min-width:210px;
  height:auto;
  max-width: 100%;
}
